$primary-medium: #8db2ad;
$primary-light:  #d5f8f2;
$primary-lighter: rgba(199, 170, 162, 0.35);

$secondary-medium: rgb(64, 43, 36);
$secondary-light: rgba(168, 173, 128, 0.31);
$secondary-lighter: rgb(143, 140, 129);
